# Bytecode
__pycache__/
*.pyc

# Outputs
out/**
!out/**/.gitkeep

runs/**
!runs/**/.gitkeep

data/**
!data/**/.gitkeep

models/**
!models/**/.gitkeep

# Model weights
*.ckpt
*.safetensors

# Envs & misc
.env
.venv/
.ipynb_checkpoints/
